/* Common style sheet */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
   
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
    
}
.text-center{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    
}
.mb-48{
    margin-bottom: 48px;
}
.mt-30{
    margin-top: 30px;
}
/* header style */
header{
    margin-bottom: 50px;
}
.header-bg{
    background-color: rgb(250, 188, 198);
    position: relative;
}
.social-links{
    position: absolute;
    left:80px;
    top:50%;
    margin-top: -90px;
   font-size: 40px;
}
.social-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social-links ul li{
    text-decoration: none;
   
 
}
.social-links ul li a{
    margin-bottom: 60px;
   c
    
}
.social-links ul li:last-child{
    margin-bottom: 0px;
    
}


.header-content{
    max-width: 50%;
    padding-left: 5px;
}
.content-heading{
    color: #272727;
    font-size: 60px;
    font-weight: 700;
}
.content-description{
    margin: 30px 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   
}
.btn-primary{
    padding: 20px 40px;
    background-color: #E55473;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: .4s;
    cursor: pointer;
}
.btn-primary:hover{
    color: #000;
    background-color: #fff;
    transform: scale(1.05);
    border: 1px solid black;
}
.header-image{
    width: 100%;
    margin-top: 50px;
    margin-bottom: -3px;
}
/* Featured section style */
.featured{
    margin:  150px 0;
    
}
.single-featured{
    max-width: 460px ;
    max-height: 530px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    padding-top: 50px;
}
.single-featured img{
    height: 400px;
    width: 300px;
}
.featured-bg-1{
    background-color: rgb(250, 188, 198);
}
.featured-bg-2{
    background-color: rgba(5, 151, 160, 0.15)
}
.featured-bg-3{
    background-color: rgba(71, 125, 17, 0.15)
}
.featured .section-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.featured .section-description{
    color: rgba(39, 39, 39, 0.60);
    max-width: 600px;
   
}
/* services section style */
.service-section{
    margin-bottom: 120px;
    
}
.services-bg{
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
}
.sevices-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.single-services{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-services img{
    margin-bottom: 20px;
}
/* Hot deal style */
.hot-deal{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 0px;
    margin-bottom: 120px;
}
.deal-content{
    text-align: center;
    max-width: 50%;
}
.deal-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin: 30px 0;

}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.signup-button{
    border-radius: 5px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 40px;
    margin-top: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}
.signup-button:hover{
    color: #E55473;
    background-color: #fff;
    transform: scale(1.05);
    border: 1px solid black;
}

/* social media section */
.social-title{
    color: #272727;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}
.social-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}
.flower-cart{
    margin-left: -30px;
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
    
}
.single-cart img{
    padding-left: 30px;
    width: 100%;
    height: 100%;
}
/* latest deal section */
.flower-bg{
    background-image: url('../images/Rectangle 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;
    width: 100%;
    text-align: center;
}
.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.flower-bg p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.latest-deal-form{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-deal-form input[type="email"]{
    padding: 22px;
    border: none;
    border-radius: 5px;
    width: 40%;
    margin-right: 20px;
}
.latest-deal-form input[type="submit"]{
    background-color: #E55473;
    color: #fff;
    font-size:  20px;
    font-weight: 700;
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* footer area design */

.footer-area{
    margin-top: 100px;
    background-color: rgb(250, 169, 183);
    padding: 100px 0;
}

.section-heading{
    color: #000;
    font-size: 48px;
    font-weight: 700;
}
.section-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;

}
.copy-right{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
